*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*--------------HEADER----------------*/

body {
    width: 100vw;
}

.principal{
    background-color: #EAC926;
    padding-bottom: 30px;
}

header div.burger-menu {
    padding-top: 30px;
    padding-left: 45%;
    padding-right: 45%;
}


.logo-ml{
    width: 25vw;
    margin: 20px;
}

h2{
    font-size: 24px;
    font-family: 'Roboto';
    color: black;
    margin-top: 20px;
}


.contenedor {
    display: flex;
    align-items: center; /* Alineación vertical al centro*/
    text-align: center; /* Alineación del texto al centro */
    justify-content: center;
   
}

.contenedor i {
    margin-right: 10px; /* Espaciado entre el ícono y el texto */
}

.contenedor h4{
    font-family: 'Roboto';
}

.icono {
    margin-right: 10px;
}

.enlace-con-icono {
    display: flex;
    align-items: center; 
    text-decoration: none; 
}

.icono-derecha {
    margin-left: 5px; 
}

a {
    color: black;
    text-decoration: none;
    font-family: 'Roboto';
    
}



div.burger-menu i {
    background-color: blue;
    height: 40px;
    width: 40px;
    justify-content: center; 
    align-items: center; 
    border-radius: 5px;
    color: white;
    font-size: 20px;
}



.barra-busq{
    padding-left: 20px;
}


.banner-home{
    width: 100%;
}

/*-----------------MAIN--------------------*/

main {
    width: 90%;
    margin: 0 auto;
}



main article img {
    max-width: 100%;
}

main article {
    margin: 10px;
}

main article div {
    border-top: solid 1px #ebebeb;
    padding: 15px;
}

main article div i {
    border: solid 1px #39b54a;
    padding: 8px;
    border-radius: 50%;
    color: #39b54a;
    
}

main article div .descuento{
    color: #39b54a;
}

.precio{
    font-family: 'Roboto';
    font-size: 18px;
    width: 100%;
}

.descuento{
    font-family: 'Roboto';
    font-size: 16px;
    width: 100%;
}



.descripcion{
    font-family: 'Roboto';
    font-size: 16px;
    color: #666;
    margin-top: 20px;
}


/*---------FOOTER-------------*/
.section-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 40px;
}

.section-footer i {
    font-size: 2em; 
    color: blue;
    margin: 10px;
}

.section-footer h4 {
    margin: 0;
    font-family: 'Roboto';
    color: #4d4d4d; 
    
}

.section-footer p {
    font-family: 'Roboto';
    color: #666;
    font-size: 16px;
    margin: 0;
}

.footer-copyright{
    display: block;
    margin: auto;
    padding: 10px;
    font-family: 'Roboto';
    font-size: 12px;
    color: #666;
    text-align: center;
    
}

/*--------- MEDIA QUERIES ---------*/


@media ( min-width: 768px ) {
    main article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    div.burger-menu i {
        display: none; /*el menu burger no se ve en tablet en adelante*/
    }

    nav ul li {
        padding-left: 10px;
    }

}

@media ( min-width: 1024) {
    main article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

}

@media (max-width: 767px) {
    main article div .descripcion {
        display: none; 
    }

    nav ul li {
        display: none;
    }

    div.burger-menu i {
        display: flex; /*hace q el menu burger se muestre en disp moviles*/
    }

    .contenedor {
        font-size: 12px;
        margin: 10px;
        
    }

    .logo-ml{
        width: 45vw;
        
    }
}






